<div class="container">
<div id="<%= dom_id project %>">






<div class="card text-center">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <p class="card-title">  
      <strong>Name:</strong>
       <i><%= project.name %></i>
    </p>
    <p class="card-text"><strong>Description:</strong>
    <%= project.description %></p>
    
  </div>
  
</div>





</div>



